html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: Jost, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f8fd;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

bold {
  font-weight: 700;
}

button,
input,
summary {
  border: 0;
  outline: 0;
  padding: 0;
  background: unset;
  background-color: unset;
  color: unset;
}
button:active,
input:active,
summary:active {
  border: 0;
  outline: 0;
}
button:focus,
input:focus,
summary:focus {
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

img,
embed {
  max-width: 100%;
  height: auto;
}

figure {
  display: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

a {
  text-decoration: none;
  border: 0px solid black;
  outline: none;
  color: unset;
}

a:any-link {
  border: none;
}

a:-webkit-any-link {
  border: none;
}

address {
  font-style: unset;
}

.tabFocus:focus-visible {
  outline: 0.2vw solid rgba(15, 15, 15, 0.575);
  outline-offset: 0.2vw;
  transition: 0s all;
}

*:focus {
  border: 0;
  outline: 0;
}

ul,
li,
ol {
  display: block;
  list-style-type: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

input,
select,
.back,
a,
button {
  cursor: pointer;
}

.header {
  background-image: url("/src/assets/mobile/bg-pattern-header.svg");
  padding: 0 6.4vw;
  /* Rounded sliders */
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("/src/assets/tablet/bg-pattern-header.svg");
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url("/src/assets/desktop/bg-pattern-header.svg");
  }
}
.header .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 36.2666666667vw;
}
@media screen and (min-width: 768px) {
  .header .wrapper {
    height: 160px;
  }
}
.header .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header input:checked + .slider {
  background-color: #2196f3;
}
.header input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.header input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.header .slider.round {
  border-radius: 34px;
}
.header .slider.round:before {
  border-radius: 50%;
}

.jobs {
  display: flex;
  justify-content: center;
  padding: 0 6.4vw;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.jobs .wrapper {
  width: 100%;
}
.jobs .wrapper .search-bar {
  display: flex;
}
.jobs .wrapper .search-bar .left {
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .jobs .wrapper .search-bar .left {
    flex: 0 0 33%;
  }
}
.jobs .wrapper .search-bar .right {
  flex: 0 0 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.24);
  z-index: 2;
  padding: 6.4vw;
}
@media screen and (min-width: 768px) {
  .jobs .wrapper .search-bar .right {
    position: relative;
    flex: 0 0 33%;
  }
}
.jobs .wrapper .search-bar .right .inner-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  justify-content: flex-start;
  width: 100%;
}
.jobs .wrapper .search-bar .right .inner-wrapper .location {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.jobs .wrapper .search-bar .right .inner-wrapper .location span {
  display: block;
  height: 20px;
  width: 30px;
  background-image: url(/src/assets/desktop/icon-location.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.jobs .wrapper .search-bar .right .inner-wrapper .location input {
  font-size: 16px;
  line-height: 20px;
  height: 19.2vw;
}
.jobs .wrapper .search-bar .right .inner-wrapper .full-time {
  height: 19.2vw;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.jobs .wrapper .search-bar .right .inner-wrapper button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #3a20ad;
  color: #ffff;
  margin-top: auto;
}
.jobs .wrapper .list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
}
.jobs .wrapper .list-wrapper .list-item {
  flex: 100%;
  margin: 20px 0;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .jobs .wrapper .list-wrapper .list-item {
    flex: 50%;
    height: 253px;
  }
}
@media screen and (min-width: 1280px) {
  .jobs .wrapper .list-wrapper .list-item {
    flex: 0 0 33.333%;
  }
}
.jobs .wrapper .list-wrapper .list-item .img-container .img1 {
  display: block;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: calc(100% - 20px);
  background-position: center;
  border-radius: 15px;
}
.jobs .wrapper .list-wrapper .list-item .img-container + div {
  margin-top: 16px;
}
.jobs .wrapper .list-wrapper .list-item h4 {
  margin-top: 24px;
}
.jobs .wrapper .list-wrapper .list-item h4 + div {
  margin-top: 16px;
}
.jobs .wrapper .list-wrapper .list-item strong {
  display: block;
  margin-top: 16px;
}
.jobs .full-time {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jobs .full-time input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.jobs .checkmark {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #a8a8a8;
  border-radius: 5px;
}
.jobs .full-time:hover input ~ .checkmark {
  background-color: #ccc;
}
.jobs .full-time input:checked ~ .checkmark {
  background-color: #474747;
}
.jobs .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.jobs .full-time input:checked ~ .checkmark:after {
  display: block;
}
.jobs .full-time .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*# sourceMappingURL=App.css.map */
