.jobs {
  display: flex;
  justify-content: center;
  padding: 0 vwm(24);

  @include desktop {
    padding: 0;
  }

  & .wrapper {
    width: 100%;

    @include desktop {
      width: 1110px;
    }

    & .search-bar {
      display: flex;
      border-radius: 10px;

      @include tablet {
        height: 80px;
        margin-top: -40px;
        background-color: #fff;
      }

      & .left {
        flex: 0 0 100%;
        height: 80px;
        margin-top: -40px;
        z-index: 2;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        margin-bottom: vwm(32);

        @include tablet {
          flex: 0 0 25%;
          margin-top: 0;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          input {
            font-size: 16px;
            line-height: 20px;
            height: 100%;

            @include tablet {
              width: vwt(134);
            }
          }

          span {
            display: inline-block;
            height: 20px;
            width: 30px;
            background-image: url(/src/assets/mobile/icon-filter.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      & .right {
        flex: 0 0 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.24);
        z-index: 2;
        padding: 0 24px;

        @include mobile {
          display: none;
        }

        @include tablet {
          position: relative;
          flex: 1;
          height: 100%;
          width: unset;
          background-color: transparent;
          display: block;
          padding: 0 24px 0 0;
        }

        &--visible {
          display: flex;
          position: fixed;
        }

        & .inner-wrapper {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column;
          align-content: space-between;
          background-color: white;
          border-radius: 10px;
          padding: 10px;
          justify-content: flex-start;
          width: 100%;

          @include tablet {
            flex-direction: row;
            padding: 0;
          }

          & .location {
            width: 100%;
            font-style: normal;
            font-weight: bold;
            display: flex;
            align-items: center;

            @include tablet {
              width: 50%;
            }

            span {
              display: block;
              height: 20px;
              width: 30px;
              background-image: url(/src/assets/desktop/icon-location.svg);
              background-size: contain;
              background-repeat: no-repeat;
            }

            input {
              font-size: 16px;
              line-height: 20px;
              height: 80px;

              @include tablet {
                width: vwt(134);
              }
            }
          }

          & .full-time {
            height: vwm(72);
            width: 100%;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;

            @include tablet {
              width: auto;
              height: auto;
              margin-left: auto;
              margin-right: 10px;
            }

            @include desktop {
              margin-right: 50px;
            }

            span.only {
              @include tablet {
                display: none;
              }

              @include desktop {
                display: inline-block;
              }
            }

            span.text {
              @include tablet {
                margin: 0 0 0 35px;
              }
            }
          }

          & button {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            background-color: #5964e0;
            color: #ffff;
            margin-top: auto;

            @include tablet {
              width: 80px;
              height: 48px;
              margin-top: unset;
            }

            @include desktop {
              width: 141px;
              height: 48px;
            }
          }
        }
      }
    }

    & .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;

      & .list-item {
        flex: 100%;
        margin: 20px 0;
        border-radius: 5px;
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;

        @include tablet {
          flex: 0 0 calc(50% - 30px);
          margin: 30px 15px;
          height: 253px;
        }

        @include desktop {
          flex: 0 0 calc(33.333% - 30px);
        }

        & .img-container {
          margin-top: calc(-55px);

          & .img1 {
            display: block;
            height: 50px;
            width: 50px;
            background-repeat: no-repeat;
            background-size: calc(100% - 20px);
            background-position: center;
            border-radius: 15px;
          }
        }
        & .img-container + div {
          margin-top: 24px;
          color: #6e8098;
        }

        h4 {
          margin-top: 16px;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: #19202d;
        }

        h4 + div {
          margin-top: 16px;
          color: #6e8098;
        }

        & strong {
          display: block;
          margin-top: 41px;
          color: #5964e0;
          font-weight: 700;
        }
      }
    }
  }

  // custom checkbox
  .full-time {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include tablet {
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  /* Hide the browser's default checkbox */
  .full-time input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
  }

  /* On mouse-over, add a grey background color */
  .full-time:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .full-time input:checked ~ .checkmark {
    background-color: #474747;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .full-time input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .full-time .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  & .more {
    width: 100%;

    & button {
      width: 141px;
      height: 48px;
      background-color: #5964e0;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin: auto;
      display: block;
      margin-bottom: 100px;
    }
  }
}
