.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & .details {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include desktop {
        width: 730px;
    }

    &--white {
      background: white;
    }

    &--black {
      background: rgb(8, 6, 6);
    }  

    &__item {
      margin-top: -20px;
      width: 100%;
      border-radius: 10px;
      background: #ffffff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      z-index: 2;

      @include tablet {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      @include desktop {
        margin-top: -40px;
      }

      &--white {
        background: white;
      }
  
      &--black {
        background: rgb(8, 6, 6);
      } 

      & .img-container {
        @include mobile {
          width: 50px;
          height: 50px;
          margin-top: -25px;
        }

        @include tablet {
          height: 140px;
          width: 140px;
          margin-right: 40px;
        }

        & span {
            height: 100%;
            width: 100%;
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 0 0 0 10px;
        }
      }

      & .img-container + div {
        width: 100%;

        @include tablet {
            width: auto;
        }

        & > * {
            @include tablet {
                text-align-last: left;
            }
        }
      }

      & h4 {
        width: 100%;
        margin: 24px 0 13px;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #19202d;
      }

      & h4 + div {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #6e8098;
        width: 100%;
      }

      & a {
        margin: 40px 0 48px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #5964e0;

        @include tablet {
            margin-left: auto;
            margin-right: 60px;
            display: flex;
            align-items: center;
        }
      }
    }

    &__header {
      width: 100%;

      @include tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100px;
        align-content: space-between;
        justify-content: center;
      }

      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #6e8098;
      }

      h2 {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #19202d;
        margin: 8px 0 12px;
      }

      h2 + div {
        color: #5964e0;
        font-weight: bold;
        font-size: 14px;
      }

      button {
        margin-top: 50px;
        background: #5964e0;
        border-radius: 5px;
        color: #fff;
        width: 100%;
        height: 48px;

        @include tablet {
          margin-top: 0;
          width: 141px;
        }
      }
    }

    & .description {
      font-size: 16px;
      line-height: 26px;
      color: #6e8098;
      margin: 32px 0;
    }

    & .requirements {
      font-size: 16px;
      line-height: 26px;
      color: #6e8098;
      margin: 32px 0;

      p {
        margin-top: 32px;
      }

      ul {
        li {
          margin: 4px 0 0 16px;
          padding: 0 0 0 16px;
        }

        li::before {
          content: "\2022";
          color: #5964e0;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -2em;
          margin-right: 1rem;
        }
      }
    }

    ul,
    ol {
      margin-top: 32px;
      list-style: none;
    }

    & .role {
      font-size: 16px;
      line-height: 26px;
      color: #6e8098;
      margin: 0 0 64px 0;

      p {
        margin-top: 32px;
      }

      ol {
        list-style: none;
        counter-reset: li;
      }

      li {
        margin: 4px 0 0 16px;
        padding: 0 0 0 16px;
        counter-increment: li;

        &::before {
          content: counter(li);
          font-weight: bold;
          color: #5964e0;
          display: inline-block;
          width: 1em;
          margin-left: -2em;
          margin-right: 1rem;
        }
      }
    }

    h3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
    }
  }

  & .details-footer {
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

    &--white {
      background: white;
    }

    &--black {
      background: rgb(8, 6, 6);
    }  

    @include desktop {
      padding: 24px calc(50% - 365px);
    }

    h2 {
      display: none;

      @include tablet {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #19202d;
      }
    }

    h2 + div {
      display: none;

      @include tablet {
        display: block;
        line-height: 20px;
        color: #6e8098;
      }
    }

    & button {
      background: #5964e0;
      border-radius: 5px;
      color: #fff;
      width: 100%;
      height: 48px;

      @include tablet {
        width: 141px;
      }
    }
  }
}
